/* Custom CSS for the e-commerce site */

.upcoming-deals {
    margin: 20px 0;
    padding: 10px;
    background-color: #f8d7da;
    border-radius: 10px;
    text-align: center;
}
.upcoming-deals h6 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #dc3545;
    animation: blink 1.5s linear infinite;
}
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}


/* Additional CSS styles */

body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    max-width: 100%;
}

/* Remove highlighted border on input focus */
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: white;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/* Header styles */
.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
}

.title {
    margin: 0;
}

#banner{
    margin-top: 130px;
}

.card {
    max-width: 100%;
    overflow: hidden;
}

.card-img-top {
    width: 80%;
    height: auto;
}

.card-img {
    width: 100px;
}


.input-group-text {
    border-right: 0;
    background-color: white;
}
.form-control {
    border-left: 0;
}

.footer-links {
    text-decoration: none;
    color: white;
}

.custom-btn {
    background-color: #333;
    opacity: 50%;
}

/* CSS for Circular Logo */
.logo-img {
    border-radius: 50%;
    width: 45px; /* Adjust size as needed */
    height: 45px; /* Adjust size as needed */
}

/* Category section styles */
.category {
    margin-top: 3rem;
}

.discount-badge {
    background-color: #e71f33;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 13px;
    font-weight: bold;
    margin-top: 4px;
    display: inline-block;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
}

/* Floating buttons styles */
.floating-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

